all_pulses/
FVSimulation_n_qp/dataICsweep_per_D/
FVSimulation_phase_density/plots K=10/KID1.png
FVSimulation_phase_density/plots K=10/KID2.png
FVSimulation_phase_density/plots K=10/KID3.png
FVSimulation_phase_density/plots K=10/KID4.png
FVSimulation_phase_density/plots K=10/KID5.png
FVSimulation_phase_density/plots K=10/KID6.png
FVSimulation_phase_density/plots K=10/KID7.png
FVSimulation_phase_density/plots K=10/KID10.png
FVSimulation_phase_density/plots K=10/KID11.png
FVSimulation_phase_density/plots K=10/KID12.png
FVSimulation_phase_density/plots K=10/KID13.png
FVSimulation_phase_density/plots K=10/KID14.png
FVSimulation_phase_density/plots K=10/KID15.png
FVSimulation_phase_density/plots K=100/KID1.png
FVSimulation_phase_density/plots K=100/KID2.png
FVSimulation_phase_density/plots K=100/KID3.png
FVSimulation_phase_density/plots K=100/KID4.png
FVSimulation_phase_density/plots K=100/KID5.png
FVSimulation_phase_density/plots K=100/KID6.png
FVSimulation_phase_density/plots K=100/KID7.png
FVSimulation_phase_density/plots K=100/KID10.png
FVSimulation_phase_density/plots K=100/KID11.png
FVSimulation_phase_density/plots K=100/KID12.png
FVSimulation_phase_density/plots K=100/KID13.png
FVSimulation_phase_density/plots K=100/KID14.png
FVSimulation_phase_density/plots K=100/KID15.png
FVSimulation_phase_density/plots K=50/KID1.png
FVSimulation_phase_density/plots K=50/KID2.png
FVSimulation_phase_density/plots K=50/KID3.png
FVSimulation_phase_density/plots K=50/KID4.png
FVSimulation_phase_density/plots K=50/KID5.png
FVSimulation_phase_density/plots K=50/KID6.png
FVSimulation_phase_density/plots K=50/KID7.png
FVSimulation_phase_density/plots K=50/KID10.png
FVSimulation_phase_density/plots K=50/KID11.png
FVSimulation_phase_density/plots K=50/KID12.png
FVSimulation_phase_density/plots K=50/KID13.png
FVSimulation_phase_density/plots K=50/KID14.png
FVSimulation_phase_density/plots K=50/KID15.png
